<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>"Game Name"</title>

    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    <link href="apps/game/static/game/css/temp_main.css" rel="stylesheet">


    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Link List</a>

        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link" href="/game/how_to_play" target="_blank" >How To Play</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/game/characters" target="_blank" >Character Wiki</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/game/enemies" target="_blank">Enemy Wiki</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/game/items" target="_blank">Item Wiki</a>
                </li>
    
            </ul>
        </div>
    </nav>

    <main role="main" class="container-fluid">
        <div class="container playerStats">
            <h2>All Player Stats</h2>
            

            <ul>
                {% for player, value in request.session.stats.items %}
                        <li>{{player}} - {{value.name}} </li>
                        <ul><li>Health - {{value.health}}</li></ul>
                {% endfor %}
            </ul>


        </div>


        <div class='middle'>
            <!-- <p class='temp'>{{request.session.stats}}</p> -->
            <!-- <img src='static/game/img/exampleMap.jpg' alt="Main Board" class = 'board'> -->

            <div id='playerMap'></div>

        </div>
        

        <div class="container playerStats">
            <h2>Personal Player Stats</h2>

            {% for player, value in request.session.stats.items %}
                {% if player == name %}
                    <li>Health - {{value.health}}</li>
                    <li>Energy Level - {{value.energyLevel}}</li>
                    <li>Status - {{value.status}}</li> 
                    <li>Items:</li>
                    <ul>
                        <li>Weapon: {{value.items.weapon.name}}</li>
                        <li>Head Armor: {{value.items.headArmor.name}}</li>
                        <li>Body Armor: {{value.items.bodyArmor.name}}</li>
                        <li>Leg Armor: {{value.items.legArmor.name}}</li>
                    </ul>

                    <div class="container cardHnd">
                        <div class="card"><h1>{{value.cards.card1}}</h1></div>
                        <div class="card"><h1>{{value.cards.card2}}</h1></div>
                        <div class="card"><h1>{{value.cards.card3}}</h1></div>

                    </div>
                {% endif %}
            {% endfor %}
        </div>



    </main><!-- /.container -->


    <script>

        // var map = [
        //     [0,0,0,0,0,0,0,0,0,0],
        //     [0,2,2,2,2,2,2,2,2,2],
        //     [0,2,1,1,1,1,1,1,1,2],
        //     [0,2,1,2,2,1,2,2,1,2],
        //     [0,2,1,2,2,1,2,2,1,2],
        //     [0,2,1,1,1,1,1,1,1,1],
        //     [0,2,1,2,2,1,2,1,2,2],
        //     [0,2,1,1,1,1,2,1,1,2],
        //     [0,2,2,2,2,1,2,2,1,1],
        //     [2,2,2,2,2,1,2,1,1,2],
            
        // ];

        // var map = [
        //     [0,0,0,0],
        //     [0,1,1,0],
        //     [0,1,1,0],
        //     [0,0,0,0],
        // ]

        var map = {{map}}

        console.log(map)

        function displayWorld(){

            var output = '';
            var tileDict = {
                0: 'wall',
                1: 'water',
                2: 'grassWater_front',
                3: 'wall',
                4: 'wall_bottom',
                5: 'lamppost',
                10: 'grass',
                11: 'stone_floor',
                12: 'ladder_bottom',
                13: 'ladder',
                14: 'ladder_top',
                30: 'door'
            }
            // print("I'm here!!")

            var output = ""
            for(var i=0; i<map.length; i++){
                output = output += "<div class='row'>";
                for(var j=0; j<map[i].length; j++){

                    if(map[i][j][1]==0){
                        output = output += "<div class='tile' style=\"background-image: url('/static/game/img/" + tileDict[map[i][j][0]] + ".png')\"></div>";
                        // console.log('player found')
                    }else{
                        var playerName = map[i][j][1];
                        characterType = {{ request.session.stats.playerName.name }}
                        output = output += "<div class='playerTile' style=\"background-image:url('/static/game/img/" + tileDict[map[i][j][0]] +".png'), url('/static/game/img/" + characterType +".png')\"></div>";
                    }
                }
                output += "</div>";
            }
            // console.log('output')
            // console.log(output);
            document.getElementById('playerMap').innerHTML = output;
        }
        displayWorld()

        function displayCharacter(){

        }
        
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>