<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>How To Play</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    {% load static %}
    <style>
        *{
            font-family: MedievalSharp;
            color: white;
        }
        style{
            font-family: MedievalSharp;
        }

        body{
            background-image: url("{% static 'game/img/wall.png' %}");
            background-repeat:repeat;
        }
    </style>
</head>
<body>
    <h1>Rules for "Game To Be Named"</h1>
    <p>This game has no rules yet, feel free to do whatever you want.</p>
</body>
</html>