<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>"Game Name"</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/gameStyle.css' %}" />
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script>

        $(document).ready(function){
            var map = [
            [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            [0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0],
            [0,2,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,2,0],
            [0,2,1,2,2,1,2,2,1,2,1,2,2,1,2,2,1,2,0],
            [0,2,4,2,2,1,2,2,1,2,1,2,2,1,2,2,4,2,0],
            [0,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,0],
            [0,2,1,2,2,1,2,1,2,2,2,1,2,1,2,2,1,2,0],
            [0,2,1,1,1,1,2,1,1,2,1,1,2,1,1,1,1,2,0],
            [0,2,2,2,2,1,2,2,1,1,1,2,2,1,2,2,2,2,0],
            [2,2,2,2,2,1,2,1,1,2,1,1,2,1,2,2,2,2,2],
            [0,0,0,0,0,1,1,1,2,1,2,1,1,1,0,0,0,0,0],
            [2,2,2,2,2,1,2,1,1,6,1,1,2,1,2,2,2,2,2],
            [0,2,2,2,2,1,2,1,2,2,2,1,2,1,2,2,2,2,0],
            [0,2,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,2,0],
            [0,2,1,2,2,1,2,2,1,0,1,2,2,1,2,2,1,2,0],
            [0,2,4,1,2,1,1,1,1,0,1,1,1,1,2,1,4,2,0],
            [0,2,2,1,2,1,2,1,2,2,2,1,2,1,2,1,2,2,0],
            [0,2,1,1,1,1,2,1,1,2,1,1,2,1,1,1,1,2,0],
            [0,2,1,2,2,2,2,2,1,2,1,2,2,2,2,2,1,2,0],
            [0,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,0],
            [0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0],
            [0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0]
        ];
            // var map = {{ loadMap }}
            function displayWorld(){
                var output = '';
                var tileDict = {
                    0: 'wall',
                    1: 'water',
                    2: 'wall',
                    3: 'lamppost',
                    10: 'grass',
                    11: 'castlefloor',
                    12: 'ladder',
                    30: 'door'
                }
                print("I'm here!!")
                for(var i=0; i<map.length; i++){
                    output = output += "\n<div class='row'>";
                    for(var j=0; j<map[i].length; j++){
                        output = output += "<div class='" + tileDict[map[i][j][0]] + "'></div>";
                    }
                    output += "\n</div>";
                }
                console.log(output);
                document.getElementById('playerMap').innerHTML = output;
            }
            playerFacing = 'up';
            function displayPlayerChar(){
                document.getElementById('playerChar').style.top = (playerChar.y)*30+"px";
                document.getElementById('playerChar').style.left = (playerChar.x*30)+"px";
            }
            function displayCards(){
                document.getElementById('score').innerHTML = score;
            }
            function choosePlayerCharImage(keyPress){
                var dec;
                if(keyPress == 37){
                    dec = "url('/mainBoard/{{ player.character }}Left.png')";
                } else if(keyPress == 39){
                    dec = "url('/mainBoard/{{ player.character }}Right.png')";
                } else if(keyPress == 38){
                    dec = "url('/mainBoard/{{ player.character }}Up.png')";
                } else if(keyPress == 40){
                    dec = "url('/mainBoard/{{ player.character }}down.png')";
                }
                return dec;
            }
            displayWorld();
            displayPlayerChar();
            displayCards();
            displayStats();

            document.onkeydown = function(e){
                var key = e.keyCode;
                var img = choosePlayerCharImage(key);
                def actionInput(key){
                    var affectedTile = ''
                    var actionType = ''
                    var directionDict = {
                        37: map[playerChar.y][(playerChar.x-1)],
                        39: map[playerChar.y][playerChar.x+1],
                        38: map[playerChar.y-1][playerChar.x],
                        40: map[playerChar.y+1][playerChar.x]
                    }
                    if(key in [37,38,39,40]){
                        affectedTile = directionDict[key];
                        actionType = 'move'
                    } else if(key == 88){
                        facingdict = {
                            'up': directionDict[38],
                            'down': directionDict[40],
                            'left': directionDict[37],
                            'right': directionDict[39],
                        }
                        affectedTile = facingDict[playerFacing];
                        actionType = 'physicalAttack'
                    }
                    outcome = actionResult(affectedTile, actionType)
                    
                }
                //console.log(e.keyCode);
                displayplayerChar();
            }
            function actionResult(affectedTile, actionType){
                var outcome = ''
                if((affectedTile[1] != 0)) and(actionType == 'move'){
                    return "no change"
                } else {
                    fightOutcome = playerFight('playerChar.name', affectedTile[1])
                    if(player_kill){
                        affectedTile = affectedTile[affectedTile[0],0]
                    }

                    }
                    return fightOutcome
                }
                var matrix = {
                    'move': {
                        0: (
                            outcome = "no change"
                        ),
                        1: (
                            outcome = "no change"
                        ),
                        2: (
                            outcome = "no change"
                        ),
                        3: (
                            outcome = "no change"
                        ),
                        10: (
                            playerChar['vigor'] -= 1
                        ),
                        11: (
                            playerChar['vigor'] -= 1
                        ),
                        12: (
                            playerChar['vigor'] -= 2
                        ),
                        13: (
                            playerChar['vigor'] -= 1
                        ),
                        20: (
                            playerChar['health'] -= 2
                        ),
                        30: (
                            playerChar['vigor']
                            // load new map
                        ),

                    },
                    'physicalAttack': {
                        0: (
                            playerChar['vigor'] -= 1
                        ),
                        1: (
                            playerChar['vigor'] -= 1
                        ),
                        2: (
                            playerChar['vigor'] -= 1
                        ),
                        3: (
                            playerChar['vigor'] -= 1
                        ),
                        10: (
                            playerChar['vigor'] -= 1
                        ),
                        11: (
                            playerChar['vigor'] -= 1
                        ),
                        12: (
                            playerChar['vigor'] -= 1
                        ),
                        13: (
                            playerChar['vigor'] -= 1
                        ),
                        30: (
                            playerChar['vigor'] -= 1
                        ),
                    },
                }
            }
        }
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Link List</a>

        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link" href="/game/how_to_play" target="_blank" >How To Play</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/game/characters" target="_blank" >Character Wiki</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/game/enemies" target="_blank">Enemy Wiki</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/game/items" target="_blank">Item Wiki</a>
                </li>
    



                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> -->

                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
            </ul>
        </div>
    </nav>

    <main role="main" class="container-fluid">
        <div class="container playerStats">
            <h2>All Player Stats</h2>
                <ul>
                    <li>TempName {{name}} - TempCharacter{{character}}</li>
                        <ul><li>Health - 4</li></ul>
                    <li>Timmy Toe - Knight</li>
                        <ul><li>Health - 4</li></ul>
                    <li>Kimmy Koe - Cleric</li> 
                        <ul><li>Health - 4</li></ul>
                    <li>John  Doe - Mage</li>
                        <ul><li>Health - 4</li></ul>

                    {{characterList | safe}}

                </ul>
        </div>


        <div id='playerMap'></div>
        

        <div class="container playerStats">
            <h2>Personal Player Stats</h2>
            <li>Health - {{characterHealth}}</li>
            <li>Energy Level - {{characterEnergy}}</li>
            <li>Status - {{characterStatus}}</li> 
            <li>Items:</li>
            <ul>
                {{characterItems | safe}}
            </ul>

            <div class="container cardHnd">
                <div class="card"><h1>7</h1></div>
                <div class="card"><h1>7</h1></div>
                <div class="card"><h1>7</h1></div>

                {{characterCards | safe}}

            </div>
        </div>



    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>