<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>"Game Name"</title>

    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    <!-- <link href="../../static/game/css/temp_main.css" rel="stylesheet"> -->

    <link href="{% static '/game/css/temp_main.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">
    </script>
  </head>

  <body>
    
    <audio src='/static/login/mp3/bensound-epic.mp3'></audio>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Link List</a>

        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link" href="/game/how_to_play" target="_blank" >How To Play</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/game/character_info" target="_blank" >Character Wiki</a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" href="/game/enemies" target="_blank">Enemy Wiki</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/game/items" target="_blank">Item Wiki</a>
                </li> -->
    
            </ul>
        </div>
    </nav>

    <main role="main" class="container-fluid">
        <div class="container playerStats">
            <h2>All Player Stats</h2>
            

            <ul>
                {% for player, value in orderedPlayers.items %}
                        <li>{{player}} - {{value.name}} </li>
                        <ul><li>Health - {{value.health}}</li></ul>
                {% endfor %}
            </ul>

        </div>


        <div class='middle'>
            <!-- <p class='temp'>{{request.session.stats}}</p> -->
            <!-- <img src='static/game/img/exampleMap.jpg' alt="Main Board" class = 'board'> -->

            <div id='playerMap'></div>

        </div>
        

        <div class="container playerStats">
            <h2>{{name}}'s Stats</h2>

            {% for player, value in orderedPlayers.items %}
                {% if player == name %}
                    <li>Health - {{value.health}}</li>
                    <li>Energy Level - {{value.energyLevel}}</li>
                    <li>Status - {{value.status}}</li> 
                    <li>Items:</li>
                    <ul>
                        <li>Weapon: {{value.items.weapon.name}}</li>
                        <li>Head Armor: {{value.items.headArmor.name}}</li>
                        <li>Body Armor: {{value.items.bodyArmor.name}}</li>
                        <li>Leg Armor: {{value.items.legArmor.name}}</li>
                    </ul>

                    <div class="container cardHand">
                        <p>Defense</p><p>Action</p><p>Action</p>
                        <div class="card"><h1>{{value.cards.card1}}</h1></div>
                        <button class="card action1"><h1>{{value.cards.card2}}</h1></button>
                        <button class="card action2"><h1>{{value.cards.card3}}</h1></button>

                    </div>
                {% endif %}
            {% endfor %}

            <div id='choices1' style="display: none">
                <button class='attack1 choicesButton'><span>Attack</span></button>
                <button class='move1 choicesButton'><span>Move</span></button>
                <button class='rest1 choicesButton'><span>Rest</span></button>

            </div>
            <div id='choices2' style="display: none">
                <button class='attack2 choicesButton'><span>Attack</span></button>
                <button class='move2 choicesButton'><span>Move</span></button>
                <button class='rest2 choicesButton'><span>Rest</span></button>
            </div>
            <form id='formMove' action="/game/update/{{name}}" method="POST">
                {% csrf_token %}
                <input id="formMap" type='hidden' name='map' value="">

                <input id ="formPlayerInfoX" type='hidden' name='playersInfoX' value="">
                <input id ="formPlayerInfoY" type='hidden' name='playersInfoY' value="">

                <input id="submitButton" type="submit" name= 'update' value="Update">

            </form>
            <form action="/game/update/{{name}}/fight" method="POST">
                {% csrf_token %}
                <input id="formMap" type='hidden' name='map' value="">

                <input id ="formAttacker" type='hidden' name='attacker' value="">
                <input id ="formSpotAttacked" type='hidden' name='spotAttacked' value="">
                <input id ="formCardUsed" type='hidden' name='cardUsed' value="">

                <input id="submitButton" type="submit" name= 'update' value="Update Fight">
            </form>

            <form action="/game/update/{{name}}/rest" method="POST">
                {% csrf_token %}
                <input id="formMap" type='hidden' name='map' value="">

                <input id ="formPlayer" type='hidden' name='player' value="">
                <!-- <input id ="formSpotAttacked" type='hidden' name='spotAttacked' value="">
                <input id ="formCardUsed" type='hidden' name='cardUsed' value=""> -->
                <input id="submitButton" type="submit" name= 'update' value="Update Rest">
            </form>

            <form id='ajaxForm' action="update/ajaxTest/1" method="POST">
                {% csrf_token %}
                <input id="ajaxTest" type=' text' name='test' value="test" >
                <input id="submitButton" type="submit" name= 'update' value="Update Rest">
            </form>
        </div>



    </main><!-- /.container -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <script>
        var map = {{map | safe}}

        var characters = {{orderedPlayers | safe}}
        var totalCharacters = 0;

        var name = "{{name}}"
    </script>

    <script src="{% static '/game/js/temp_main.js' %}"></script>


  </body>
</html>