<!DOCTYPE html>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>"Game Name" Sign in</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="signin.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    <link href="../../static/login/css/index.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <audio controls autolay loop src='/static/login/mp3/bensound-epic.mp3' type ="audio/mpeg">
      <source src='/static/login/mp3/bensound-epic.mp3' type ="audio/mpeg">
    </audio>

    <!-- <video loop muted autoplay id="myVideo">
        <source src="/static/login/img/iceland_cave.mp4" type="video/mp4">
    </video> -->
  

    <form class="form-signin" action="/processIndex" method="POST">
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <p>Username:</p>
      <input type="text" name="inputName" class="form-control" placeholder="ex. John Doe" required autofocus autocomplete="off"><br>

      <div class="form-group select">
        <p>Status:</p>
        <select class="form-control" name="user_type" required>
          <option value='player' selected>Player</option>
          <option value='spectator'>Spectator</option>
          <option value='admin'>Admin</option>
        </select>
      </div>
      
      <!-- <p>Password:</p>
      <input type="password" name="password" class="form-control" placeholder="required only for admin access"> -->



      <button class="btn btn-lg btn-primary btn-block" type="submit">Go to Game</button>

    </form>
  </body>
</html>