*{
    /* outline: 1px dotted red; */
    font-family: MedievalSharp;
}
.jumbotron{
    display: inline-block;
    /* min-width: 25%; */
    padding: 3% 1%;
    overflow:inherit;
    background-color: rgba(88,88,88, .5);
    color: white;
}
.teamDisplay{
    display: inline-block;

}
.main{
    display: inline-block;
    /* width: 75%; */
    vertical-align: top;
    background-color: rgba(88,88,88, .5);
    padding: 1% 0px;
    margin: 0px 5%;
    border-radius: 5px;
    margin-bottom: 19%;
    
}
.col-md-4{
    display: block;
    max-width: 100%;
}
.display-3{
    width: 100%;
    text-align: center;
}
body{
    padding: 2%;
    background-image: url("../img/forest1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    margin: 0px 0px;
    width: 100%;
    height: auto;
    outline: 1px solid red;
    overflow: hidden;
}
.character_select{
    color: whitesmoke;
    text-shadow: -1px -1px  black,
    -1px 1px  black,
    1px -1px  black,
    1px 1px  black;

}

.col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: none;
    padding: 0px 0px;
}


.teamDisplay input{
    background-color: inherit;
    border: none;

}

.startButton{
    background-color: rgb(19,46,35)
}

.startButton{
    color: white;
    background-color: rgb(19,46,35);
    width: 50%;
    text-align: center;
    border-color: black;
    border-radius: 2px;
}

.form-check-input{
    position:fixed;
    opacity:0
}

label img{
    display: inline-block;
    margin-right: 1%;
    width: 7%
}

label .spacer{
    display: inline-block;
    vertical-align: top;
    width: 90%;
}

.updateButton{
    width: 10%;
    margin-left: 10%;
    background-color: rgb(19,46,35);
    color: white;
    text-align: center;
    border-color: black;
    border-radius: 2px;
}
input{
    color: white;
}
.bordered{
    border: 2px solid rgb(2, 2, 107);
}
.selected{
    border: 2px solid rgb(121, 16, 21);
}